body{
    background-image: url(img/Background.jpg);
  
}
section#everything{
margin: 3em;
}
img#logo{
position: absolute;
right: 20%;
top: .01%;
width: 15em;
}

ul {
    list-style: none;
}

img.product {
    width: 16em;
    float: left;
}

img.product2 {
    width: 13em;
    float: left;
}

figcaption {
    float: left;
}

div#columns{
    column-count: 2;
    column-width: 50%;
}