body{
    background-image: url(img/Background.jpg);
  
}
section#everything{
margin: 3em;
}
img#logo{
position: absolute;
right: 20%;
top: .01%;
width: 15em;
}

ul {
    list-style: none;
}

h1 {
    color: white;
    font-size: 2.7em;
    -webkit-text-stroke: blue 2px;
    font-family: 'Courier New', Courier, monospace;
}

div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    -webkit-text-stroke: lightblue .25px;
}

img.product {
    width: 13em;
    float: left;
}

img.product2 {
    width: 13em;
    float: right;
}

figcaption {
    float: center;
    display: block;
}

div#columns{
    column-count: 2;
    column-width: 50%;
}
div#shop {
    column-count: 5;
    font: bolder;
}
p#price { 
    margin-left: 1em;
}